<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">    
   <head>
       <div th:replace="~{fragment :: meta}"></div>   
            
       <div th:replace="~{fragment :: styles}"></div>
          
       <title>店舗詳細</title>   
   </head>
   <body>
       <div class="samuraitravel-wrapper">
           <!-- ヘッダー -->
           <div th:replace="~{fragment :: header}"></div>
           
           <main>
               <div class="container pt-4 pb-5 samuraitravel-container">
                   <div class="row justify-content-center">
                       <div class="col-xxl-9 col-xl-10 col-lg-11">
						   
                           <nav class="mb-4" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                               <ol class="breadcrumb mb-0 d-flex justify-content-between align-items-center w-100">
								   <div class="d-flex align-items-center">                       
		                               <li class="breadcrumb-item"><a th:href="@{/}">ホーム</a></li>
		                               <li class="breadcrumb-item active" aria-current="page">会社情報</li>
                                   </div>
                               </ol>
                           </nav> 
                           
                           <h1 class="mb-4 text-center" th:text="会社概要"></h1>                                                           
                                                                                                   
                           
                           <div class="mb-4">
                              <img class="w-100" th:src="@{/images/logo2.png}"  alt="SAMURAI Travel">
                 
                           </div> 
                           
                           <div class="container">  
                               <div class="row">
                                   <div class="col-lg-8 container mb-4">
									               
                                       <div class="row pb-2 mb-2 border-bottom">
                                           <div class="col-4">
                                               <span class="fw-bold">会社名</span>
                                           </div>
                   
                                           <div class="col">
                                               <span th:text="株式会社NAGOYAMESHI"></span>
                                           </div>
                                       </div>                    
                   						
                                       <div class="row pb-2 mb-2 border-bottom">
                                           <div class="col-4">
                                               <span class="fw-bold">所在地</span>
                                           </div>
                   
                                           <div class="col">
                                               <span class="samuraitravel-pre-wrap" >〒150-0043 東京都渋谷区道玄坂2丁目11-1 Gスクエア渋谷道玄坂4FJR山手線「渋谷駅」より徒歩3分</span>
                                           </div>
                                       </div>
                   
                                       <div class="row pb-2 mb-2 border-bottom">
                                           <div class="col-4">
                                               <span class="fw-bold">代表者</span>
                                           </div>
                   
                                           <div class="col">
                                               <span >代表取締役 田中 太郎</span>
                                           </div>
                                       </div> 
                                       
                                      <div class="row pb-2 mb-2 border-bottom">
                                           <div class="col-4">
                                               <span class="fw-bold">設立</span>
                                           </div>
                   
                                           <div class="col">
                                               <span th:text="2015年3月19日"></span>
                                           </div>
                                      </div>
                                                            
                                   </div>                                                                              
                               </div>                                                                                             
                           	</div>
                           	 
                            <iframe class="w-100"
		                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3241.7759544892483!2d139.69399665123464!3d35.65789123876098!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188caa0042e8d1%3A0xba130bea826a7aa2!2z44CSMTUwLTAwNDMg5p2x5Lqs6YO95riL6LC35Yy66YGT546E5Z2C77yS5LiB55uu77yR77yR4oiS77yR!5e0!3m2!1sja!2sjp!4v1636872991912!5m2!1sja!2sjp"
		                    style="border:0;" allowfullscreen="" loading="lazy">
		                	</iframe>         							
                  
                       </div>
                   </div>
               </div>
           </main>
        </div>   
           <!-- フッター -->
           <div th:replace="~{fragment :: footer}"></div>
       
       
       <div th:replace="~{fragment :: scripts}"></div> 
       
  
               
 </body>
</html>